.section-about {
  margin: auto;
  overflow: hidden;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
}
.section-about .images {
  padding-top: 45px;
}
.section-about .description {
  padding-top: 45px;
}
.section-about p {
    font-size: 13px;
    margin: 0 0 40px;
    color: #9CA09D;
    line-height: 26px;
    margin: 0;
}
.section-about button{
    height:40px!important;
    text-align: left;
    background-color: #1590C5;
    color:#ffffff;
    margin-bottom:10px;
    font-size: 22px;
    transition: 0.4s;

}
.section-about button:hover{
  transition: 0.4s;
  background-color: #033a52;
}
.section-about svg{
    text-align: left;
    float: left;
    width: 15px;
    margin: auto;
    vertical-align: middle;
}
.section-about h3 {
  font-weight: 800;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.section-about .images img{
    width: 100%;
    height: 82px;
    border-radius: 7px;
}
.section-about .images .pl{
    padding-left: 6px;
    padding-bottom:6px;
}
.section-about .images .pr{
    padding-right: 6px;
    padding-bottom:6px;

}
.section-about .btn-blue-about{
    height:40px!important;
    text-align: right;
    background-color: #1590C5;
    color:#ffffff;
    margin-bottom:10px;
    font-size: 20px!important;
    
}

.btn-blue-about svg{

    text-align: left;
    float: left;
    width: 22px;
  
    margin: auto;
    vertical-align: middle;

}
@media (max-width: 800px) {
  .section-about .images .pr {
    padding-right: 0px!important;
    padding-bottom: 0px!important;
  }
  .section-about .images .pl {
    padding-left: 0px!important;
    padding-bottom: 0px!important;
  }
}
