.container-header{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.main-nav {
  height: 90px;
}

.logo {
  color: red;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s linear 0s;
  color: #6e6e6f !important;
  font-weight: 700;
}

.navlinks li a:hover {
  color: white!important;
  border-radius: 4px;
  background-color: #454445;
  padding:3px 9px 3px;
  transition: 0.4s;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: #1590C5;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #1590C5;
    color:white;
  }

  .navlinks li {
    display: block;
    color:white;

  }

  .navlinks li a {
    font-size: 20px;
    color:white!important;

  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
    width: 36px;
  }

  .menu-btn:focus {
    color: blue;
  }
}
